@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

nextjs-portal {
  display: none;
}