@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

nextjs-portal {
  display: none;
}